@y_origin : 10px;



div.header {
    position:relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 150px;
    background-color: grey;
    text-align: center;
    font-size: 40pt;
}

.menuContainer{
    position:relative;
}

.menuCover {
    border:solid;
    width: 150px;
    position:absolute;
    top:0px;
    left:0px;
    z-index: 10;
    background-color: red;
    transform-origin: 0 @y_origin
}

.bullet {    
    width: 10px;
    position:absolute;
    top:0px;
    left:0px;
}


.rotateUP {
        transform-origin: 0 @y_origin;//sets the origin of the rotation
        transform: rotate(-40deg);//this sets the initial angle of the menu
        animation-name: rotateMenuUP;
        animation-duration: 3s;
        animation-timing-function: ease-in;
}

.rotateDOWN {
        transform-origin: 0 @y_origin;//sets the origin of the rotation
        transform: rotate(0deg);//this sets the initial angle of the menu
        animation-name: rotateMenuDOWN;
        animation-duration: 3s;
        animation-timing-function: ease-in;
    }

 .setBullet {
        
        animation-name: slideBullet;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        left:160px;

    }   
.menu {
    width: 150px;
    position:absolute;
    counter-reset: item;
    top:0px;
    left:0px;
}



.loop(@counter) when (@counter >0){
    @counter-1;
    @keyframes example(@counter) {
        from {left:0px;}
        to {left:800px;}
    }
}

//generate classes for the menu items
.loop(@counter) when (@counter >0) {
    .loop(@counter - 1);
    @y_origin : 10px;
    .menu .item:nth-child(@{counter}) {
        width: 0px;
        position: absolute;
        top:0px;
        left:0px;
        transform-origin: 0 @y_origin;
        text-align: center;
        transition: transform 1s;
        z-index: -1;
        
    }
    .menu.open .item:nth-child(@{counter}) {
        
        left:@counter*200px;//sets the items final location to slide right to
        width: 100px;
        height: 10px;       
        @animations: slide1,slide2,slide3,slide4,slide5;
        animation-name: extract(@animations, @counter);
        animation-duration: 1s;
        animation-timing-function: linear;
    }

    .menu.close .item:nth-child(@{counter}) {
       
        left:0;
        width: 100px;
        height: 10px;
        @animations: closeSlide1,closeSlide2,closeSlide3,closeSlide4,closeSlide5;
        animation-name: extract(@animations, @counter);
        animation-duration: 1s;
        animation-timing-function: ease-in;

    }

    
}


.content {
    

    .menu {
        z-index: 1;
        position: relative;
    }
    //less function call to build the menu items
    .loop(5);
    
}

.bullet_animation1 {
    position: absolute;
    animation-name: moveBullet1;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.bullet_animation2 {
    position: absolute;
    animation-name: moveBullet2;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.bullet_animation3 {
    position: absolute;
    animation-name: moveBullet3;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.bullet_animation4 {
    position: absolute;
    animation-name: moveBullet4;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.bullet_animation5 {
    position: absolute;
    animation-name: moveBullet5;
    animation-duration: 1s;
    animation-timing-function: linear;
}





@keyframes rotateMenuUP {
    from { transform: rotate(0deg);}
    to {transform: rotate(-40deg);}
}

@keyframes rotateMenuDOWN {
    from { transform: rotate(-40deg);}
    to {transform: rotate(0deg);}
}

@keyframes slideBullet {
    from {left:0px;}
    to {left:160px;}
}


@keyframes moveBullet1 { 
    0%  {left:160px;
             top:60px;    
    }

    50%  {left:200px;
             top:10px;    
    }

    75%  {left:220px;
             top:100px;    
    }

    100%  {left:250px;
             top:150px;    
    }
}

@keyframes moveBullet2 { 
    0%  {left:160px;
             top:60px;    
    }

    50%  {left:250px;
             top:10px;    
    }

    75%  {left:350px;
             top:100px;    
    }

    100%  {left:450px;
             top:150px;    
    }
}

@keyframes moveBullet3 { 
    0%  {left:160px;
             top:60px;    
    }

    50%  {left:350px;
             top:10px;    
    }

    75%  {left:400px;
             top:50px;    
    }

    100%  {left:650px;
             top:150px;    
    }
}

@keyframes moveBullet4 { 
    0%  {left:160px;
             top:60px;    
    }

    50%  {left:400px;
             top:10px;    
    }

    75%  {  left:650px;
            top:50px;    
    }

    100%  {left:850px;
             top:150px;    
    }
}

@keyframes moveBullet5 { 
    0%  {left:160px;
             top:60px;    
    }

    50%  {left:500px;
             top:10px;    
    }

    75%  {left:850px;
             top:50px;    
    }

    100%  {left:1050px;
             top:150px;    
    }
}




@keyframes slide1 {
    from {left:0px;}
    to {left:200px;}
}

@keyframes slide2 {
    from {left:0px;}
    to {left:400px;}
}

@keyframes slide3 {
    from {left:0px;}
    to {left:600px;}
}

@keyframes slide4 {
    from {left:0px;}
    to {left:800px;}
}

@keyframes slide5 {
    from {left:0px;}
    to {left:800px;}
}

@keyframes closeSlide1 {
    from {left:200px;}
    to {left:0px;}
}

@keyframes closeSlide2 {
    from {left:400px;}
    to {left:0px;}
}

@keyframes closeSlide3 {
    from {left:600px;}
    to {left:0px;} 
}

@keyframes closeSlide4 {
    from {left:800px;}
    to {left:0px;} 
}

@keyframes closeSlide5 {
    from {left:800px;}
    to {left:0px;}
}
