<script type="text/javascript">

$( document ).ready(function() {

	applyEnrollHovers();
	
});	

</script>


 <div class="main_container">

 	

	{# %if courses %#}

		 <h2>TrainingCourse Calendar</h2>
          <div class="calendar_row">
            <div class="calendar_header_1">DATE</div><div class="calendar_header_2">COURSE NAME</div><div id="calendar_header_3" class="calendar_header_3">LOCATION</div>

			{%if (user_type == 'admin') or (user_type == 'customer') %}
				<div class="calendar_header_4">
					ACTION
				</div>
			{%endif%}

          </div>



          {%if user_type == 'admin'%}
	    	<!--<form action="course_manager.php">-->
	    		<div id="add_row">
					<div class="calendar_row">
			            <div class="calendar_column_1">
			            	<input type="text" name="course_date" id="course_date" value='{{ "now"|date("Y-m-d") }}' size="10">
			            </div>

			            <div class="calendar_column_2">
			            	<input type="text" name="course_name" id="course_name" value="" size="5">
			        	</div>
			            <div class="calendar_column_3">
			            	<input type="text" name="course_location" id="course_location" value="" size="5">
			            	<select name="status" id ="course_status" >
		  						<option value="1">active</option>
		  						<option value="0">inactive</option>
		  					</select>
			            </div>
					<div class="calendar_column_4">
						<input type="submit" value="add" class = "add_course_button" id ="add_course_button" onclick="addCourse();">
					</div>	
				</div>
	          </div>
	        <!--</form>-->  
		{%endif%}     

<div id="course_list" class="course_list">
 		{% for course in courses %}

		
		          <div class="calendar_row" id="calendar_row_{{course.id}}">
		          	

					{%if course.id != edit_id%}

			            <div class="calendar_column_1">
			            	<div id="course_date_label_{{course.id}}">{{course.start_date}}</div>  

			            	<input type="text" class ="hidden_field" name="course_date" id ="course_date_field_{{course.id}}" value="{{course.start_date}}" size="10"> 
			            	{%if user_type == 'admin'%}
			            		<div class ="num_enrolled hidden_field" id = "num_enrolled_{{course.id}}"># of Students Enrolled: {{course.num_enrolled}}</div>
			            	{%endif%}	       
			            </div>  
			            <div class="calendar_column_2">
			            	<div id="course_name_label_{{course.id}}">{{course.name}}</div>
			            	<input type="text" class ="hidden_field" name="course_name" id ="course_name_field_{{course.id}}" value="{{course.name}}" size="10">
			            </div>
			            <div class="calendar_column_3" id="calendar_column_3">
			            	<div id="course_location_label_{{course.id}}">{{course.location}}</div><div class="display_status" id="course_status_label_{{course.id}}">{{course.display_status}}</div>
			            	<input type="text" class ="hidden_field" name="course_location"  id ="course_location_field_{{course.id}}"value="{{course.location}}" size="10">
			            	
				            	<select class ="hidden_field" name="status" id ="course_status_field_{{course.id}}" >
			  						<option value="1">active</option>
			  						<option value="0">inactive</option>
			  					</select>  
			  				
			            </div>
			            


			            {%if user_type == 'admin'%}
						<div class="calendar_column_4">
							
							<input type="button" class="hidden_field" value="update" id = "update_button_{{course.id}}" onclick="updateCourse({{course.id}});">						
							<input type="button" value="edit" id = "edit_button_{{course.id}}" onclick="editCourse({{course.id}});" >
							<input type="button" value="delete" id = "delete_button_{{course.id}}"onclick="deleteCourse({{course.id}});">
							
						</div>	
						{%endif%}

						{%if user_type == 'customer'%}

						<div>
							{%if course.user_id > 0 %}
								<a class="action_link" href="ajax/enroll.php?unenroll_id={{course.id}}">UNENROLL</a>
							{%else%}	
								<a class="action_link" href="ajax/enroll.php?enroll_id={{course.id}}">ENROLL</a>
							{%endif%}						
								
						</div>	
						{%endif%}


					


					{%endif%}


		          </div>
	        

	    {% endfor %} 
 </div>	    

	    <div id="course_list_added" class="course_list_added"><!--div used to display course list after addition-->



    {# % endif % #}


     </div><!-- end main container-->  




