<script type="text/javascript">

$( document ).ready(function() {
	console.log('ready');
	$(".create_account").click(validateLogin);
});	

</script>	


 
		 <h2>{{action_message}}</h2>

		      
		 <form action = "authenticate.php" type="POST">
		 	<div class="account_form">
			    Username:<input type="text" id="username" name="username" ><br>
			    Password:<input type="text" id="password" name="password"><br>
			    <input type="submit" value="submit" class="create_account">
			    <input type="hidden" id="create" name="create" value="1">
			 <div>    
		 </form>     
