<h2>Frequently Asked Questions</h2>

      <h3>For Students</h3><br>
      <ul>
        <li>How do I create an account</li>
          Click the 'Signup' link in the left side navigation of the website.  Fill in the username and password fields and hit submit.  You will then be prompted to login to the site with the username and password that you provided.

        <li>How do I enroll in a motorcycle training course?</li>
          When you login with your account you will be directed to the student calendar page which shows a list of currently available courses.  Click the 'Enroll' link in the row for the course you are interested in to enroll in the course.  This course listing will always be available to you in the left side navigation of the website by clicking the 'Calendar' link.  

        <li>How do I unenroll in a motorcycle training course?</li>
          When you login with your account you will be directed to the student calendar page which shows a list of currently available courses.  Click the 'Unenroll' link in the row for the course you are interested in to unenroll from the course.  This course listing will always be available to you in the left side navigation of the website by clicking the 'Calendar' link.  
      </ul>  

      <h3>For Administrators</h3><br>

      <ul>
        <li>How do I login as an Administrator?</li>
          Please use the username/password -> admin/admin to login with Administrator privileges to test this application
        <li>How do I view the courses being offered</li>
          When you login as an 'admin' you will be taken to the course management listing.  This list allows you to view all of the courses that have been created.

         <li>How do I add a new course?</li>
          The top row in the course management listing has a row with empty fields and an 'Add' button.  Fill in the fields and click add to enter the new course into the database.
          Each course in the course management listing has a 
         <li>How do I edit a course</li>
          Each course in the course management listing has a edit button on the right side in the column marked 'Action'.  Click edit to put the course fields into edit mode.  Then when you have finished editing the course fields hit update to submit your changes back to the database.

          <li>How do I delete a course?</li>
          Each course in the course management listing has a delete button on the right side in the column marked 'Action'.  Click the delete button in the row of the course you want to delete and it will be removed from the database.

          <li>How can I determine how many students are enrolled in a particular course?</li>
          Each course in the course management listing can show how many students are currently enrolled in it by placing your mouse over any data column in the row for the course you are interested in.  When your mouse cursor is hovering over the course row it will reveal how many students are enrolled in red text below the course date. 
      </ul> 