




<header id="pageHeader">
    <div class="header_content">
        <a href = "index.php">
          <img id='ethan_hunt_image' src="images/download.jpeg"><!-- https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.biography.com%2F.image%2Ft_share%2FMTE5NDg0MDU0OTM2NTg1NzQz%2Ftom-cruise-9262645-1-402.jpg&imgrefurl=https%3A%2F%2Fwww.biography.com%2Fpeople%2Ftom-cruise-9262645&docid=wu9wH7dowjfGrM&tbnid=bDm_44TVoPz28M%3A&vet=10ahUKEwjp7rW4_czdAhWrsFQKHSk0D7sQMwieAigAMAA..i&w=1200&h=1200&bih=888&biw=1761&q=Tom%20Cruise&ved=0ahUKEwjp7rW4_czdAhWrsFQKHSk0D7sQMwieAigAMAA&iact=mrc&uact=8-->
        </a>
        <div class="header_info">
            <h1>Ethan Hunt Motorcycle Training Academy</h1><br>
            <h2>Our Motto: Equitare superesse! (Ride to Survive!)</h2>
            
            {% if username %}
                <br>
                <br>
                <div class="login_name">Welcome {{username}}</div><div class="logout"> - 
                    <!--<a href="security.php?logout=1" >LOGOUT</a>-->
                <input type="button" value="logout" class="logout_button">
                   
                </div>

            {%endif%}   
            <div><img class="special_goodbye" id="special_goodbye" src="images/goodbye_bike.jpeg"></div><!--https://www.kisspng.com/png-motorcycle-helmet-skull-cool-motorcycle-149274/download-png.html -->

        </div>        
        <img id='bike_gang_image' src="images/bike_gang.jpeg"><!-- https://www.google.com/imgres?imgurl=https%3A%2F%2Fmotorbikewriter.com%2Fcontent%2Fuploads%2F2015%2F03%2FTom.jpg&imgrefurl=https%3A%2F%2Fmotorbikewriter.com%2Fmotorcycles-dominate-mission-impossible-5%2F&docid=QyeKDueBD6EgCM&tbnid=VXC-V9LPhRK9-M%3A&vet=10ahUKEwiWyfDY-szdAhWTFzQIHbI2C4EQMwhHKAAwAA..i&w=459&h=345&bih=888&biw=1761&q=mission%20impossible%20bike%20chase&ved=0ahUKEwiWyfDY-szdAhWTFzQIHbI2C4EQMwhHKAAwAA&iact=mrc&uact=8-->
    </div> 
  </header>