<script type="text/javascript">

$( document ).ready(function() {
	console.log('ready');
	$(".login").click(validateLogin);
});	

</script>	



 <h2>{{action_message}}</h2>OR<h2><a href="create_account.php" class="action_link">Create Account</a></h2>   

      
 <form action = "authenticate.php" type="POST">
 	<div class="account_form">
	    Username:<input type="text" id="username" name="username" ><br>
	    Password:<input type="text" id="password" name="password"><br>
    	<input type="submit" value="submit" class="login">
    </div>	
 </form>  

