
<title>{{page_title}}</title>

<head>   
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    
    <link rel="stylesheet/less" type="text/css" media="screen" href="project_styles.less" />

    <script src="project.js" defer></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   



</head>

