<nav id="mainNav">
      <div class="nav_flex_container">
        <ul>
          <li><a href="index.php">HOME</a></li>
          <li><a href="create_account.php">SIGN UP</a></li>
          <li><a href="login.php">LOGIN</a></li>
          {%if user_type == 'admin'%}
              <li><a href="course_manager.php">CALENDAR</a></li>
          {%elseif user_type == 'customer' %}
             <li><a href="student_calendar.php">CALENDAR</a></li>
          {%else%}
              <li><a href="calendar.php">CALENDAR</a></li>
          {%endif%}  
          <li><a href="faqs.php">FAQS</a></li>
          <li><a href="about.php">ABOUT US</a></li>
        </ul>
        <div class="green_box testimonial">
          Testimonial
          <div class="nav_copy">
            "Sir, Hunt is the living manifestation of destiny, and he's made you, his mission."
          </div>
        <div class="nav_signature"> - Alan Hunley</div>
      </div>
  </nav>