h1{
	margin:0px;
	padding-left: 5px;
}

h2{
	margin:1px;
}

h3{
	margin:0px;
	padding: 0px;
}

h4{
	margin:0px;
}

ul{
	margin:0px;
}

div.job_experience{
	font-size:1.3em;
}

div.education_container{
  display:flex;
  justify-content: space-between;
}

div.education{
  font-size:1.1em;
  font-style: italic;
  font-weight:bold;
}


div.header_container{
  display: flex;
  flex-direction: row;
  border:solid;
  margin-bottom: 10px;
 }

div.header_container.header_info_container{
  display: flex;
  flex-direction: column;
  border:solid;
  justify-content: space-between;
}

 
div.header_name{
	 font-weight:bold;
}

div.header_job_title{
	margin-left: 5px;
	 
}

 div.header_job_description{
 	margin-left: 5px;
 	font-size: 1.5em;
 }


div.header_container .photo{
  vertical-align: botttom;
  text-align: center;
}


div.contact_info_container{
  display: flex;
  flex-direction: row;
  border:solid;
  background-color: lightgray;
  justify-content: space-evenly;
}


div.contact_info{
	margin:20px;
}


div.body_container{
  display: flex;
  flex-direction: row;
}


div.body_container  .body_column_1 {
    order: 1;
    flex: 20%;
    border:yes;
    padding:10px;
}

div.body_container  .body_column_2 {
    order: 2;
    flex: 20%;
    border-left: solid;
    padding:10px;
}
div.body_container  .body_column_1:hover {
    background-color: green;   
    color:#FFFFFF;       
}

div.body_container .body_column_2:hover {
    background-color: green;
    color:#FFFFFF;
}

div.references_container{
    display: flex;
    flex-direction: row;
    border:solid;
    background-color: lightgray;
    justify-content:space-evenly;
    align-items: center;
	
}

div.reference{
	margin:10px;
}	