#pageHeader {
  grid-area: header;
  //background: black;
}

#pageFooter {
  grid-area: footer;
}

#pageFooter a:link{
  color:orange;  
  font-weight: bold;
}

#mainfeature { 
  grid-area: main;      
}

#mainNav { 
  grid-area: nav; 
}




.special_goodbye{
    background-color:black;
    display:none;
    //background-image:url("images/goodbye_bike.jpeg");
    background-repeat: no-repeat;
    background-size: 300px 100px;
    position: absolute;
    animation-name: moveBike;
    animation-duration: 3s;
    animation-timing-function: linear;

}

@keyframes moveBike { 
    0%  {left:0px;
              
    }

    50%  {left:500px;
              
    }

    75%  {left:850px;
             //top:50px;    
    }

    100%  {left:2050px;
            
    }
}


.rotateUP {
  //display:none;
        transform-origin: 0 10px;;//sets the origin of the rotation
        transform: rotate(-40deg);//this sets the initial angle of the menu
        animation-name: wheelie;
        animation-duration: 3s;
        animation-timing-function: ease-in;
}


@keyframes wheelie {
    from { transform: rotate(0deg);}
    to {transform: rotate(-40deg);}
}




    body{
        background-color: grey;

    }

    header, footer, main, nav{
            padding: 1.0em;
            background: black;
            color: white;
        }


    header{
        text-decoration: none;
    }

    footer{
        font-size:1.5em;

    }

    footer a{
        color:orange;
        text-decoration:none; 
    }


    h2{
        margin:0px;
        color:#66ff33;
    }

    h3{
        margin:0px;
        color:yellow;
        padding-top:5px;
        padding-bottom:5px;
    }

    i{
        color:orange;
    }



    ul{
        margin:0px;
    }

    li{
        margin:5px;
        color:orange;
        font-weight: bold;
    }
    li:hover{
        font-weight: bold;
        color:#66ff33;
    }

    li a{
        color:orange;
        text-decoration:none; 
    }

    .display_status{
      margin-left: 20px;
      //margin:40px;
      //background-color:orange;
      color:orange;
    }


    .nav_copy{
    font-weight:bold;
    font-weight:bold;
    padding-bottom:0px;
    }
    .nav_signature{

    font-weight:bold;
    text-align:right;
    padding:0px;
    }

    .nav_flex_container{

        a:hover{
        font-weight: bold;
        color:#66ff33;
        }
    }

    .header_info{
        border-color: green;  

    }


    .green_box{
    border:solid;
    border-color: green;

    }

    .header_content{
    border:solid;
    margin:0px;
    padding: 0px;
    justify-content: space-between;
    border-color: green;  
    }

    .hidden_field{
        display:none;
    }

    


    .calendar_row{
          display: flex;
          align-items: flex-start;
          flex-wrap: nowrap;
          height: 100%;
          //width: 100%;
          border-color:green;
          border:solid;
          margin:0px;
          padding:0px;

  

        }

        .calendar_header_1{
          font-weight: bold;
          color:black;
          background-color: yellow;
          border-color:green;
          width: 30%;
          height: 40%;
           border:solid;

        }

        .calendar_header_2{
          font-weight: bold;
          color:black;
          background-color: green;
          border-color:green;
          width: 30%;
          height: 40%;
           border:solid;
        }

        .calendar_header_3{
          font-weight: bold;
          color:black;
          background-color: orange;
          border-color:green;
          width: 30%;
          height: 40%;
           border:solid;
        }

        .calendar_header_4{
          font-weight: bold;
          color:black;
          background-color: grey;
          border-color:green;
          width: 10%;
          height: 40%;
           border:solid;
        }


        .calendar_column_1{
          border-color:green;
          border:solid;
          width: 30%;
          height: 40%;

        }

        .calendar_column_2{
          border-color:green;
          border:solid;
          width: 30%;
          height: 40%;
        }

        .calendar_column_3{
          border-color:green;
          border:solid;
          width: 30%;
          height: 40%;
          display:inline-flex;
        }

        .calendar_column_4{
          border-color:green;
          border:solid;
          width: 10%;
          height: 40%;
        }

         .login_name{
          display: inline;

         }

        .logout{

          a:link, a:visited {
            //background-color: #f44336;
            color: orange;
            //padding: 14px 25px;
            //text-align: center; 
            //text-decoration: none;
           
          }
           display: inline;
        }

         .action_link{

          a:link, a:visited {
            
            color: orange;
            font-weight:bold;

           
          }
            display: inline;
            color: orange;
            font-weight:bold;
            text-decoration:none; 

        }

 
 .account_form{
    display:inline-flex;
    flex-direction: column;


 }


 .num_enrolled{
  background-color:red;
 }       


 input[type=button], input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 0px 0px;
    text-decoration: none;
    margin: 1px 1px;
    cursor: pointer;
}







@media all and (min-width: 450px) {


      body { 
        display: grid;
        grid-template-areas: 
        "header header header"
        "nav main main"
        "nav footer footer";
        grid-template-columns: 20% 1fr 15%;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        margin: 0;
        font-family: "Arial",Verdana;
        }  


        .header_content{
            display:flex;
            border:solid;
            margin:0px;
            padding: 0px;
            justify-content: space-between;
            border-color: green;  
        }

        

        .nav_flex_container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            //height: 500px;
            //font-size:20px;

        }
        

        .main_container{
          display: inline-flex;  
          //display:flex;
          flex-direction: column;
          width:100%;

      
        }

        .bike_chase{
            background-image:url("images/bike_chase.jpg");
            height: 500px;
            width: 100%; 
            background-repeat: no-repeat;
        }
 
}




/* Stack the layout on small devices/viewports. */

@media only screen and (max-width: 450px) {


     body { 
      grid-template-areas: 
     
      "header"
      "nav"
      "main"
      "footer";

     
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        margin: 0;
        font-family: "Arial",Verdana;
        
      
    }

    h1{
        font-size: 1.2em;
    }

    h2{
        font-size: 1em;
    }

     
    #ethan_hunt_image{  
        visibility: hidden;
        display:none;
    }

    #bike_gang_image{  
        visibility: hidden;
        display:none;
    }


    .nav_flex_container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size:20px;
            margin:0px;
            padding:0px;
     }

    ul{
        margin:0px;
        padding:0px;
    }

    li{
        margin:0px;
        color:orange;
        font-weight: bold;
        display: inline;
        font-size:.75em;
    }

    .testimonial{
         visibility:hidden;
         display:none;
    };

    .calendar_row{

          font-size:.8em;
        }  

    footer{
        font-size:1em;

    }

    .bike_chase{
        background-image:url("images/bike_chase.jpeg");
        height: 200px;
        width: 100%; 
        background-repeat: no-repeat;
    }
       
}
