@background_color: white;
@soldier_link_color: black;


.header {
    grid-area: the_header;
    background-color:@background_color;
    border-bottom: solid;
    text-align: center;
}

.sidebar {
    grid-area: the_sidebar;
    background-color:@background_color;
}

.squad {
    grid-area: the_squad;
    background-color:@background_color;
}

.profile {
    display:flex-wrap;
    grid-area: the_profile;
    background-color:@background_color;
}

.row{
    display:flex;
    flex-direction: row;
    padding-top: 10px;
}

.profile_field{
    //display:inline;
}

.profile_picture {
    grid-area: the_profile_picture;
    
    background-color:@background_color;
    text-align: right;

}

.soldier_link{
    color: @soldier_link_color;
}

.soldier_link_highlight{

    font-weight: bold;

}

.section_label{
    color:green;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:bold;

}

.label{
    display:inline;
    font-weight: bold;
}

.picture{
    height:300px;
    text-align:left;
    vertical-align: center;
    padding-top:10px;
}



.container{
	display:grid;

	grid-template-areas: "the_header  the_header  the_header"
						 "the_sidebar the_squad the_profile"
						 "the_profile_picture the_profile_picture the_profile_picture";
    grid-template-columns: 20% 20% 60% ;                     
						 
}





	