div{
	padding:2px;

}

.deck{

	display:flex;
	flex-direction: column;
   	flex-wrap: wrap;

}


.card{

	border-radius: 10px;
	border:solid;
	background-color: yellow;
	margin:10px;
	padding:5px;

}

.pokemon_type{

	margin-left: 10px;
	display: inline;
	
}

.label{
	display: inline;
	font-weight: bold;

}