@background_color : grey;
@instructions_color : white;
@sidebar_link_color : #65f442;
@popular : red;



.header {
    grid-area: the_header;
    border:solid;
    background-color:@background_color;
    text-align : center;


}

.sidebar {
    grid-area: the_sidebar;
    border:solid;
    background-color:@background_color;
}


.favorites{
	grid-area: the_favorites;
	border:solid;
    background-color:@background_color;
}

.pokemon_table{
	grid-area: the_pokemon_table;
	border:solid;
    background-color:@background_color;
}


.pokemon_row{
    background-color: yellow;
    border:solid;
    border-radius: 5px;
    margin:1px;
    padding:10px;
    text-align : center;
}

.pokemon_favorite_row{
    background-color: cyan;
    border:solid;
    border-radius: 5px;
    margin:1px;
    //width:100px;
    padding:10px;
    text-align : center;
    //width:100%;

    a{
         //color:@sidebar_link_color;   
    }

}

.popular_anchor{
    display:inline;
}

.pokemon_favorites_container{
    display:flex;
    margin:10px;
}

.pokemon_favorite_card{
    background-color: cyan;
    border:solid;
    border-radius: 5px;
    margin:5px;
    padding:5px;

}

.favorite_attribute{
     padding:2px;
}

.pokemon_type{
    margin-left: 10px;
    display: inline;
    
}

.label{
    display: inline;
    font-weight: bold;
    padding:5px;
    margin:5px;

}

.instructions{
    font-size: 1em;
    color:@instructions_color;
    font-weight: bold;
    margin:5px;
}

.popular{
    display:inline;
    color:@popular;
    font-weight: bold;
}

ul{
    margin:0px;

}

li{
    //color:@sidebar_link_color;
    margin:0px;
    padding:0px;

    a{
         //color:@sidebar_link_color;   
         font-size: 1.2em;
    }

}

h3{
    padding-left: 2px;
    margin-left: 5px;
}







@media screen and (min-width: 814px) {

	.container{
		display:grid;

		grid-template-areas: "the_header  the_header  the_header        the_header        the_header        the_header        the_header        the_header"
    						 "the_sidebar the_sidebar the_favorites     the_favorites     the_favorites     the_favorites     the_favorites     the_favorites"
    						 "the_sidebar the_sidebar the_pokemon_table the_pokemon_table the_pokemon_table the_pokemon_table the_pokemon_table the_pokemon_table "
    						 "the_sidebar the_sidebar the_pokemon_table the_pokemon_table the_pokemon_table the_pokemon_table the_pokemon_table the_pokemon_table "
    						 "the_sidebar the_sidebar the_pokemon_table the_pokemon_table the_pokemon_table the_pokemon_table the_pokemon_table the_pokemon_table "
    						 "the_sidebar the_sidebar the_pokemon_table the_pokemon_table the_pokemon_table the_pokemon_table the_pokemon_table the_pokemon_table ";
    	
    	//background-color:@backgroundColor;
		
		//border-radius: 50px 0px 0px 50px					 
	}





}	