<h3>FAVORITE POKEMON</h3>
<div class="pokemon_favorites_container">
	
	{%for pokemon in favorite_pokemon %}
		<div class="pokemon_favorite_card">
						<div class="favorite_attribute"><div class ="label">Pokedex Number:</div> {{pokemon.national_pokedex_number}}</div>	
				    	<div class="favorite_attribute"><div class ="label">Name:</div> {{pokemon.name}}</div>
						<div class="favorite_attribute"><div class ="label">Attack:</div> {{pokemon.attack}}</div>
						<div class="favorite_attribute"><div class ="label">Defense:</div> {{pokemon.defense}}</div>
						<div class="favorite_attribute"><div class ="label">Sp. Atk:</div> {{pokemon.special_attack}}</div>
						<div class="favorite_attribute"><div class ="label">Sp. Def:</div> {{pokemon.special_defense}}</div>
						<div class="favorite_attribute"><div class ="label">Speed:</div> {{pokemon.speed}}</div>

						{%if pokemon.mega_form_name %}
							<div><div class ="label">Mega Evolution Form:</div> {{pokemon.mega_form_name}}</div>
						{%endif%}	

						<div>
							<div class ="label">TYPES:</div>
							<ul>
								{%for type_name in pokemon.types %}
									<li>{{type_name}}</li>
								{% endfor %}
							</ul>
						</div>

						<div>
							<div class ="label">STRONG AGAINST:</div>
							<ul>
								{%for type_name in pokemon.strong_against %}
									<li>{{type_name}}</li>
								{% endfor %}
							</ul>	
						</div>

						<div>
							<div class ="label">WEAK AGAINST:</div>
							<ul>	
								{%for type_name in pokemon.weak_against %}
									<li>{{type_name}}</li>
								{% endfor %}
							</ul>
						</div>

						<div>
							<div class ="label">RESISTANT TO:</div>
							<ul>
								{%for type_name in pokemon.resistant_to %}
									<li>{{type_name}}</li>
								{% endfor %}
							</ul>
						</div>

						<div>
							<div class ="label">VULNERABLE TO:</div>
							<ul>
								{%for type_name in pokemon.vulnerable_to %}
									<li>{{type_name}}</li>
								{% endfor %}
							</ul>
						</div>


		</div>	
	{% endfor %}
</div>

