<div class="instructions">Pick your favorite pokemon by clicking its the name in the list below.  If you wish to remove a favorite pokemon simply click on it again</div>

{% for row in pokemon_table %}
	
	{% if row.pokemon_id in favorite_pokemon_ids %}
		<div class="pokemon_favorite_row">

			<a href="main.php?add_favorite_id={{row.pokemon_id}}">{{row.name}}</a>
			
			{% if row.name in popular_pokemon_names %}
				<div class = "popular_anchor" id="{{row.name}}">---POPULAR</div>	
			{%endif%}
				
			
			
		</div>
	{%else%}
		<div class="pokemon_row"><a href="main.php?add_favorite_id={{row.pokemon_id}}">{{row.name}}</a>


		{% if row.name in popular_pokemon_names %}
			<div class = "popular_anchor" id="{{row.name}}">  <div class = "popular"><---  POPULAR POKEMON!</div></div>	
		{%endif%}


		</div>
	{%endif%}

{%endfor%}

