@widebackgroundColour: #FFFFFF;
@backgroundColor:purple;
@brightColor:#ff00ff;
@darkColor:#330033;
@menuHoverColor:#FFFFFF;
@menu_colors_array: #9900cc, #cc00ff, @brightColor;
@wide_display_bar_heights: 6em,4em,8em,2em;
@narrow_display_bar_widths: 80%,60%,90%,40%;



/* START Mixins */

.alter_menu_item(@colors,@limit,@counter:1) when (@counter <= @limit){
	
		.item:nth-child(@{counter}n+0) {
    		background:extract(@colors,@counter);
		}	
    	.alter_menu_item(@colors,@limit,@counter+1);
}


.apply_bar_styles(@counter:1,@limit,@bar_heights) when (@counter <= @limit){

	.bar@{counter}{
		padding:20px;
		background-color: green;
		height:extract(@wide_display_bar_heights,@counter);
	}
	.apply_bar_styles(@counter+1,@limit,@wide_display_bar_heights);
}

.apply_mobile_bar_styles(@counter:1,@limit,@bar_heights) when (@counter <= @limit){

	.bar@{counter}{
		margin-top:20px;
		background-color: red;
		width:extract(@narrow_display_bar_widths,@counter);
		height:20px;
	}
	.apply_mobile_bar_styles(@counter+1,@limit,@bar_heights);
	
}

/* END Mixins */


.bargraph {
    	grid-area: the_bargraph;

}

.sidebar {
    	grid-area: the_sidebar;
}

.flexbottom{
		display:flex;
		grid-area: the_flexbottom;
		background-color: @brightColor;
}



//Shared styles
.title{
		font-size:2em;
		text-align:center;
		 background-image: linear-gradient(to right, @backgroundColor, #f5ccff);
}


h2{
		width:100%;
		font-weight:bold;
}	


.mon{
		margin:1px;
}


@media screen and (min-width: 814px) {
	body { background-color: @widebackgroundColour; 
		max-width: 814px;
		margin:auto;
	}

	.container{
		display:grid;
		grid-template-areas: "the_sidebar the_bargraph the_bargraph the_bargraph"
    						 "the_sidebar the_flexbottom the_flexbottom the_flexbottom";
    	background-color:@backgroundColor;
		border-radius: 50px 0px 0px 50px					 
	}

	
 
	.top {
		margin:auto;//center the div
		display:flex;
		flex-direction:row;
		justify-content: space-between;
		width:55%;
	}

	.menu {
		background-color:@backgroundColor;
		border-radius: 20px;
		padding-right: 20px;
		padding-left:  20px;
    	
    	.alter_menu_item(@menu_colors_array,3,1);	

    	.item{
			color:#FFFFFF;
		}

		.item:hover{
			background-color: #ff99cc;
		}

    }

	
	//LESS nesting
	.sidebar{
		margin:60px;		

		.subItem{
			color:black;	
			font-weight: bold;
			visibility:hidden;	
			display:none;
			margin-left: 10px;
			margin-right:10px;
		}

		.subItem:hover{
			color:red;
		}

		.item{
			color:black;
			margin:0px;	
		}

		.item:hover .subItem{
			display:block;
			visibility: visible;			
		}
	}

	.bargraph{
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		padding-top:20px;
		padding-left:80px;
		padding-right:150px;
	}

	//call mixin to create the individual classes for the bar graph divs, bar1, bar2 etc
	.apply_bar_styles(1,4,@wide_display_bar_heights);

	
	.flexbottom{
		
		flex-wrap: wrap;


		.mon{
			border-radius: 10px;
			width:110px;
			height:110px;
		}

		
		.mon:nth-child(even) {
			background-image: linear-gradient(to right, @backgroundColor,@darkColor);

		}	

		.mon:nth-child(odd) {
			background-image: linear-gradient(to left, @backgroundColor,@darkColor);
			
		}	

		div:first-child{ 
    		font-weight: bold;
		}		

	}

}



@media screen and (max-width: 814px) {


	.container{
		display:flex;
		flex-direction:column;
    	background-color:@backgroundColor;		 
	}

	.top {
		margin:auto;
		display:flex;
		flex-direction:column;
	}

	.menu {
		background-color:@backgroundColor;
		
    	
    	.item:nth-child(even){
    		background-color: @brightColor;
    	}

    	.item{
			color:#FFFFFF;
		}

		.item:hover{
			background-color: #ff99cc;
		}

    }

	.sidebar{
    	visibility:hidden;	
		display:none;
	}

    .bargraph{
		display:flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top:20px;
		padding-bottom:40px;
	}

	//call mixin to create the individual bar graph divs for the narrow mobile display
	.apply_mobile_bar_styles(1,4,@narrow_display_bar_widths);

	//using LESS nesting
	.flexbottom{
		flex-direction: column;
			
		.mon{
			border-radius: 10px;
			color:cyan;	
		}

		
		.mon:nth-child(even) {
			background-image: linear-gradient(to right, @backgroundColor,@darkColor);

		}	

		.mon:nth-child(odd) {
			background-image: linear-gradient(to left, @backgroundColor,@darkColor);
		}	

		div:first-child{ 
    		font-weight: bold;
    		color:blue;
		}		

	}
}	




